
body {
    background-color: #a1a1a1;

}
.mainbg{
    background-color: #333366;
    max-width: 1920px;
    max-height: 1280px;
    border: 4px solid #ffff66;
    background-image: url(../assets/images/cobblehill3.png);
    background-size: cover;
}

h1{
    font-size: 16pt;
    line-height: 16pt;
    margin: .2em;
    text-align: left;
}

p {
    margin: .3em;
    font-size: 14px;
    line-height: 24px;
}

.dividerimg {
    max-width: 500px;
    margin: auto;
    padding: 2em;
}
.centercolumn {
    display: flex;
    flex-direction: column;
    max-width: 60vw;
    min-width: 30vw;
    height: 90vh;
    padding-bottom: 5vh;
}
.threecolumns {
    display: flex;
    max-width: 1920px;
    max-height: 1920px;
    justify-content: space-between;
}
.images{
    max-width: 80px;
}

.imagesleft{
    border-style: solid;
    border-width: 4px;
    width: 10vw;
    border-color: #ffff66;
    max-height: 1280px;
    display: flex;
    padding: 1em;
    flex-direction: column;
    align-items: center;
    border-style: solid; 
    justify-content: space-evenly;
}
#preview {
    max-width: 50vw;
    margin: auto;
    padding: 1em;
}
.imagesright{
    border-color: #ffff66;
    border-style: solid;
    border-width: 4px;
    width: 10vw;
    max-height: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid; 
    padding: 1em;
    justify-content: space-around;
}

#lowermenu {
    font-family: Verdana, Helvetica, sans-serif;  
    text-align: left;
    color: #666699;
    min-width: 600px;
    margin: auto;
    height: 10%;
    border-collapse: collapse;
  }
  
  #lowermenu td, #lowermenu th {
    border: 3px solid #66cccc;
    padding: .3em;
  }
  
  #lowermenu tr {background-color: #ffffcc;}
  
  #lowermenu tr:hover {background-color: #ffffb6;}
  
  #lowermenu th {background-color: #ffffb6;}
  

}
